.search-container {
    display: grid;
    align-items: center;
    width: 100%;
    gap: 10px;
}
#input {
    position:absolute;
    right: 15%;
    top:15%;
    align-items: center;
    width: 30%;
    padding: 10px;
    padding-right: 40px; 
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    overflow: hidden;
}
#button{
    border-radius: 50%;
    position: absolute;
    right: 15%;
    margin-top: 1%;
    width: 5%;
    padding: 11px 4px;
    color: white;
    border-radius: 4px;
    background-color: #37A9E6;
}
#button i {
    margin-right: 5px
}
#button:hover {
    background-color: #9ed0eb;
    color: white;
}
@media only screen and (max-width: 600px) {
    #input {
        position:absolute;
        right: 15%;
        top:15%;
        align-items: center;
        width: 30%;
        padding: 12px 15px; 
        border: 2px solid #252424a1;
        border-radius: 4px;
        font-size: 16px;
        overflow: hidden;
    }
    #button{
        position: absolute;
        right: 15%;
        margin-top: 15px;
        width: 7%;
        padding: 14px 4px;
        color: white;
        border: 1px solid #252424a1;
        background-color: #37A9E6;
    }
    #button i {
        margin-right: 5px
    }

}
