.recipe-container {
    display: flex;
    flex-direction: column;
    position: absolute; 
    right: 5%;       
    top: 20%;        
    width: 50%;    
    background-color: white; 
    padding: 20px;
  }
  
  .search-container {
    width: 100%;
    margin-bottom: 30px; 
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    
  }
  
  .recipe-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    width: 100%;
  }
  
  .recipe-card {
    width: calc(50% - 7.5px); 
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-title, .recipe-description {
    margin-bottom: 10px;
  }
  
  .recipe-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .edit-btn, .delete-btn {
    background-color: #37A9E6;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-btn:hover, .delete-btn:hover {
    background-color: #9ed0eb;
  }
  
  .delete-btn {
    background-color: #f44336;
  }
  
  .delete-btn:hover {
    background-color: #ff7961;
  }
  
  @media only screen and (max-width: 600px) {
    .recipe-container {
      width: 90%;  
      height: auto; 
      top: 10px; 
    }
  
    .search-container {
      width: 100%;
    }
  
    .recipe-list {
      display: flex;
      flex-wrap: wrap;  /* Allow wrapping of recipe cards */
      width: 100%;
      justify-content: center;  /* Distribute the cards evenly with space between them */
      gap: 25px;  /* Space between the cards */
    }
  
    .recipe-card {
      width: calc(40% - 5px);  /* Two cards per row with a 10px total gap */
      display: flex;
      flex-direction: column; /* Stack content vertically inside the card */
      background-color: #f9f9f9;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  